#plusone {
    position: absolute;
    right: 700px;
    top: 200px;
}
#counter {
    position: absolute;
    right: 700px;
    top: 0px;
}
#clickup {
    position: absolute;
    right: 1000px;
    top: 200px;
}
#clickup2 {
    position: absolute;
    right: 1000px;
    top: 300px;
}
