.btn-cfc {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  position: absolute;
  top: 250px;
  left: 100px;
  background-color: #ff821b;
  border-color: black;
  border-radius: 5px;
  size: 50px;
}
.achivement_notifier {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  position: absolute;
  top: 400px;
  left: 500px;
  font-size: large;
}
.achivement_notifier_bottom {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  position: absolute;
  top: 420px;
  left: 504px;
  font-size: small;
}
.shop {
  position: absolute;
  top: -10px;
  left: 415px;
}
.buildings {
  position: absolute;
  top: 50px;
  left: 415px;
}
.cursor {
  position: absolute;
  width: 120px;
  height: 120px;
}
.tree {
  position: absolute;
  width: 118px;
  height: 118px;
  top: 140px;
}
.shed {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 280px;
}
.farm {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 200px;
}
.orange_orchard {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 200px;
  top: 140px;
}
.btn-cfiuc {
  cursor: pointer;
  position: absolute;
  background-color: #ff821b;
  border-color: black;
  border-radius: 5px;
}
html {
  background-color: #e7700e;
}
.scorenum {
  position: absolute;
  top: -21px;
  left: 0px;
}
.scoreupd {
  animation: scoreupd 0.05s linear;
}
@keyframes scoreupd {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*Add autoajusting css here */
/* @media screen and (max-width: 480px) 
{
Styling for smaller windows goes here.
}
*/
br {
  color: #e7700e;
}
