html {
  background: linear-gradient(180deg, rgba(255, 153, 4, 1) 0%, rgba(219, 159, 41, 1) 50%, rgba(255, 229, 0, 1) 100%);
  overflow-y: hidden;
}

* {
  color: black;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cfc {
  position: absolute;
  top: 40%;
  left: 20%;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: orangered;
  background-color: orangered;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cfc:active {
  transform: translateY(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.scorenum {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 40px;
  border: 1px solid black;
  width: calc(2 + 40px + 1em);
  height: 50px;
  padding: 1rem;
  border-radius: 40px;
  overflow: hidden;
}

.scoreupd {
  animation: scoreupdate 0.5s both;
}

@keyframes scoreupdate {
  0% { 
    transform: scale(0); 
  }
  50% {
    transform: scale(1);
  }
  100% { 
    transform: scale(0); 
  }
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: flex-start;
  width: 300px;
  position: absolute;
  right: 0; 
  top: 10%; 
  max-height: 80vh; 
  overflow-y: auto; 
}

.btn-cfiuc {
  border-radius: 20px;
}

.btn-cfstm {
 border-radius: 20px;
}

.btn-cfsi {
  border-radius: 20px;
}

.item {
  flex: 1 0 30%; 
  box-sizing: border-box; 
  margin: 10px; 
  padding: 20px;
  text-align: center; 
}

.save {
  position: relative;
  left: -45%;
  top: 40%;
}



.rubik-txt {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}