#plusone {
    position: absolute;
    right: 700px;
    top: 200px;
}
#counter {
    position: absolute;
    right: 700px;
    top: 100px;
}
#clickup {
    position: absolute;
    right: 1200px;
    top: 200px;
}
#clickup2 {
    position: absolute;
    right: 1200px;
    top: 270px;
}
